HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

#spring boot


completespring/HELP.md
completespring/target/
completespring/!.mvn/wrapper/maven-wrapper.jar
completespring/!**/src/main/**/target/
completespring/!**/src/test/**/target/
### STS ###
completespring/.apt_generated
completespring/.classpath
completespring/.factorypath
completespring/.project
completespring/.settings
completespring/.springBeans
completespring/.sts4-cache


### IntelliJ IDEA ###
completespring/.idea
completespring/*.iws
completespring/*.iml
completespring/*.ipr

### NetBeans ###
completespring/nbproject/private/
completespring/nbbuild/
completespring/dist/
completespring/nbdist/
completespring/.nb-gradle/
completespring/build/
completespring/!**/src/main/**/build/
completespring/!**/src/test/**/build/

completespring/### VS Code ###
completespring/.vscode/




spring-jpa/HELP.md
spring-jpa/target/
spring-jpa/!.mvn/wrapper/maven-wrapper.jar
spring-jpa/!**/src/main/**/target/
spring-jpa/!**/src/test/**/target/
### STS ###
spring-jpa/.apt_generated
spring-jpa/.classpath
spring-jpa/.factorypath
spring-jpa/.project
spring-jpa/.settings
spring-jpa/.springBeans
spring-jpa/.sts4-cache


### IntelliJ IDEA ###
spring-jpa/.idea
spring-jpa/*.iws
spring-jpa/*.iml
spring-jpa/*.ipr

### NetBeans ###
spring-jpa/nbproject/private/
spring-jpa/nbbuild/
spring-jpa/dist/
spring-jpa/nbdist/
spring-jpa/.nb-gradle/
spring-jpa/build/
spring-jpa/!**/src/main/**/build/
spring-jpa/!**/src/test/**/build/

spring-jpa/### VS Code ###
spring-jpa/.vscode/

